body{
background-color: pink ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 20 px
}

h1{
color: black; 
text-align: center;
}

p{
    font-size: 16 px;
    color: purple;
    line-height: 1.5;
}

