body{
background-color: pink ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 20 px
}
.container{
    display: grid;
    background-color:blue;
    flex-direction: center;
    flex-wrap: wrap-reverse;
.box{
    width: 20 px;
    height: 40 px;
    font-size: 30 px; 
    text-align: center;
}
    #box1{
        background-color: yellow;
    }
    #box2{
        background-color: red;
    }
    #box3{
        background-color: green;
    
}
h1{
color: black; 
text-align: center;
}

p{
    font-size: 16 px;
    color: purple;
    line-height: 1.5;
}

